{
  "login": "http://geo-junkies.com/api/login",
  "logout": "http://geo-junkies.com/api/logout",
  "registration": "http://geo-junkies.com/api/registration",
  "maps":"http://geo-junkies.com/api/maps",
  "cities":"http://geo-junkies.com/api/map",
  "highscores" :"http://127.0.0.1:8000/api/highscores",
  "highscore": "http://geo-junkies.com/api/highscore/",
  "editor": "http://geo-junkies.com/api/edit-user"
}
