.score-title {
	text-align: center;
	color: rgba(228, 238, 34, 0.92);
	text-decoration: none;
	text-shadow: 2px 2px 4px #000000;
	/* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
	padding: 5px;
	font-weight: bold;
	font-size: 2.5em;
	border-radius: 10px;
	/* font-family: "Stencil Std", fantasy; */
}

table {
	text-align: center;
	border: 1px solid black;
}

thead {
	font-size: 1rem;
	text-align: center;
	color: rgba(228, 238, 34, 0.92);
	text-decoration: none;
	text-shadow: 2px 2px 4px #000000;
	/* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
	padding: 5px;
	font-weight: bold;
	font-size: 2em;
	border-radius: 10px;
	/* background-color: lightgrey; */
}

td {
	font-size: 1.5rem;
	font-weight: bold;
  padding: 1%;
  color: #a9acb5;
}

tbody {
	text-align: center;
	text-shadow: 2px 2px 4px #000000;
}

/* tbody tr:nth-child(odd) {
	background-color: #cad4e4;
} */

.rank {
	text-align: right;
}

.players {
}

.scores {
	text-align: left;
}
