#sandy {
  background: url("../components/images/back1.jpg");
  background-size: cover;
}

#marci {
  background: url("../components/images/marci.jpg");
  background-size: cover;
}

#oli {
  background: url("../components/images/back1.jpg");
  background-size: cover;
}

#szoba {
  background: url("../components/images/szoba.jpg");
  background-size: cover;
}
